script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='/javascripts/libs/TweenMax.min.js')
script(src='/javascripts/libs/three.min.js')
script(src='/javascripts/libs/Detector.js')
script(src='/javascripts/libs/stats.min.js')
script(src='/javascripts/libs/ColladaLoader.js')
script(src='/javascripts/models/3dLoader.js')
- if(locals.scripts)
  each script in scripts
    script(src=script)
block scripts