include variables
!!! 5
html(lang='#{meta.lang || $config('lang:default')}')
  include ../parts/head
  body(id='#{locals.id || ''}')
    include ../parts/navbar
    include ../parts/content
    include ../parts/footer
    include ../parts/scripts